body{
	padding-top: 50px;
	background-color: #993131;
	background-image: url(http://www.transparenttextures.com/patterns/black-paper.png);
}

.row{
	background-color: white;
}

.top-nav{
	padding-top: 2rem;
}