body {
	color: #ffffff;
	background-image: URL("../images/background.jpg");
	background-size : 100%;
}

h1 {
	font-family  : Georgia;	
	font-size 	 : 48px;
	border-style : double;
	border-color : black;
}

h2 {
	text-decoration : underline;
}

p, ul, ol {
	font-size    : 18px;
	font-family  : serif;
}

#indexh1 {
	margin-left  : 38%;
	margin-right : 37%;
}

#bioh1 {
	margin-left  : 40%;
	margin-right : 36%;
}

#resumeh1 {
	margin-left  : 45%;
	margin-right : 41%;
}

.tab {
	margin-left  : 5%;
}

.links {
	margin-left  : 17%;
	font-size 	 : 36px;
	border-color : #000000;
	border-style : solid;
	font-family  : serif;
}

#me {
	border-style: none;
}

#contactinfo {
	margin-left : 35%;
	margin-right: 35%;
	border-style: solid;
	border-color: black;
}