body {
	color: #ffffff;
	background-image: URL("../images/background.jpg");
	background-size : 100%;
}

h1 {
	font-family : Georgia;	
	font-size 	: 48px;
	border-style: double;
	border-color: black;
	text-align  : center;
	margin-left : 35%;
	margin-right: 35%;
}

h2 {
	text-decoration : underline;
}

p, ul, ol {
	font-size  : 18px;
	font-family: serif;
}

.tab {
	margin-left: 5%;
}

.navbar {
	border: 3px solid #000000;
}

.link {
	font-size  : 36px;
	font-family: serif;	
}

.bio {
	margin-left: 15%;
}
.me {
	position: relative;
	top		: 12px;
	left	: 2px;
}

#contactinfo {
	font-size   : 24px;
	text-align  : center;
	margin-left : 30%;
	margin-right: 30%;
	border-style: solid;
	border-color: black;
}
