body {
	color: #ffffff;
	background-color: #99cccc;
	background-size : 100%;
}

h1 {
	text-align : center;
	border: 3px double #000000;
}

h2 {
	text-decoration : underline;
}

#home {
	margin-left : 10%;
	margin-right: 10%;
}

.me {
	position : relative;	
	height   : 200px;
	width    : 275px;
	top 	 : -30px;
	left 	 : -12px;
}

.navbar {
	border : 3px solid #000000;
}
	
.link {
	font-size  : 24px;
	font-family: serif;	
}

.bio {
	position : relative;
	top      : 225px;
}

.resume {
	position : relative;
	left	 : 175px;
	top		 : -15px;
}

#contactinfo {
	position 	 : relative;
	text-align   : center;
	top			 : -20px;
}